.Buttongototrip
{
    width: 300px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  line-height: 50px;
  border-radius: 7px;
  font-size: 20px;
  font-family: "Domine",sans-serif;
  cursor:pointer;
  color:brown;
  font-weight: 900;
  letter-spacing: 2px;

}
 
.Buttongototrip:hover
{
color:green;
background-color:lemonchiffon;
}

