body {
  margin: 0;
  font-family: "Krub", sans-serif;
  color: white;
}

.container {
  background-color: #053737;
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 40px;
}

img:hover {
  cursor: pointer;
  filter: invert(20%);
}

.links-section {
  width: 250px;
  display: flex;
  justify-content: space-between;
}

.bold {
  font-weight: 600;
}

.icons {
  width: 250px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

p {
  margin: 10px;
}

.links-section p:hover {
  cursor: pointer;
  color: rgb(213, 213, 213);
}

.copyright {
  font-size: 12px;
  text-align: center;
  color: #5a8888;
}
